<button class="base menu-quicknav-item-pin{{#if _isVisited}} visited{{/if}}{{#if _isComplete}} complete{{/if}}" data-id="{{_id}}" role="button" aria-label="{{title}}">
	<img class="menu-quicknav-item-pin-icon" src="{{_dragMenuItem._icon}}"/>
</button>
